@include global-reset();
@import './var.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 12px;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial,
    sans-serif;
  color: $--color-text-primary;
}

.vuetable {
  margin: 0 auto;

  tr {
    &:hover {
      i.icon-more {
        display: block;
      }
    }

    i {
      color: $--color-text-secondary;

      &:hover {
        color: $--color-text-primary;
      }

      &.icon-xindong-1,
      &.icon-xindong-2 {
        font-size: 18px;
      }

      @include is(starred) {
        color: $--color-text-active;
      }

      @include is(downloaded) {
        color: #507daf;
      }
    }
  }

  td {
    color: $--color-text-secondary;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .vuetable-th-slot-id-slot,
  .vuetable-th-starred,
  .vuetable-th-downloaded {
    &:hover {
      background-color: white;
    }
  }

  .vuetable-th-slot-name-slot {
    width: 292px;
  }

  .vuetable-slot {
    .name {
      max-width: 260px;
      color: $--color-text-primary;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .icon-sound-loud {
      display: none;
    }

    .icon-more {
      display: none;
      font-size: 20px;
    }

    .vuetable-td-slot-id {
      @include is(playing) {
        .id {
          display: none;
        }

        .icon-sound-loud {
          display: block;
          color: $--color-text-active;
        }
      }
    }

    .vuetable-td-slot-name {
      display: flex;

      @include is(playing) {
        .name {
          color: $--color-text-active;
        }
      }
    }
  }

  th.vuetable-th-singer,
  .vuetable-td-singer {
    width: 140px;
    max-width: 140px;
  }

  .vuetable-th-album,
  .vuetable-td-album {
    width: 190px;
    max-width: 190px;
  }

  .vuetable-th-duration,
  .vuetable-td-duration {
    width: 70px;
    max-width: 70px;
  }
}

.ve-loading {
}
