$--color-text-primary: #333 !default;
$--color-text-secondary: #666 !default;
$--color-text-third: #999 !default;
$--color-text-forth: #ccc !default;
$--color-text-fifth: #eee !default;

$--color-text-hover: #111 !default;
$--color-text-active: #d33a31 !default;
