$--color-white: #fff !default;
$--color-black: #000 !default;

$--color-text-primary: #111 !default;
$--color-text-secondary: #333 !default;
$--color-text-third: #666 !default;
$--color-text-forth: #999 !default;

$--color-text-active: #d33a31 !default;
